<div class="center">
	<h1>todos</h1>
	<p>(Angular 2 + Redux)</p>
	<div class="todoapp-container">
		<app-add-todo></app-add-todo>
	  <app-todo-list></app-todo-list>
	  <app-todo-footer></app-todo-footer>
	</div>
	<div class="foot-note">
		<a class="github-button" href="https://github.com/oxy-code/ng2redux-todo/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork oxy-code/ng2redux-todo on GitHub">Fork</a>
		<a class="github-button" href="https://github.com/oxy-code/ng2redux-todo" data-icon="octicon-star" data-show-count="true" aria-label="Star oxy-code/ng2redux-todo on GitHub">Star</a>
	</div>
</div>
