@import "../../sass-util/variables"
@import "../../sass-util/mixins"

#inputarea
	background: white
	border-bottom: 1px solid $borderColor
	position: relative

	input[type=checkbox]
		display: none

		&:checked ~ label
			color: $primaryColor

	label
		color: #EEEEEE
		display: inline-block
		position: absolute
		left: 14px
		-webkit-transform: rotate(90deg) scale(2)
		-moz-transform: rotate(90deg) scale(2)
		transform: rotate(90deg) scale(2)
		font-size: 31px
		width: 12px
		height: 53px
		+disable-selection()

	input[type=text]
		width: 85%
		height: $rowHeight
		font-size: 20px
		color: #444444
		border: 0
		margin-left: 75px

		&::-webkit-input-placeholder
			color: #DDDDDD
			font-style: italic