/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Dosis')
@import "sass-util/variables"

body
	background-color: #F5F5F5
	font-family: 'Dosis', sans-serif
	font-size: 14px
	color: #333333

	input, button
		outline: none